/* Menu section */
.menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%),url('../assets/img/game-bg.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.menu__start {
    display: flex;
    flex-flow: column;
}

.menu__start.active {
    display: none;
}

.menu__wrapper {
    display: flex;
    flex-flow: column;
    
}

.menu__heading {
    display: flex;
    font-size: 6.25rem;
    text-transform: uppercase;
    font-weight: 700;
}

.menu__heading--green {
    margin-left: 100px;
    color: var(--clr-lime);
}

.menu__heading--orange {
    color: var(--clr-orange);
    margin-left: 300px;
}

.menu__heading--blue {
    color: var(--clr-blue);
    margin-left: 500px;
}

.menu__hands {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 100px 0;
}

.menu__set {
    font-size: 3.125rem;
    font-weight: 600;
    animation: startGame 1000ms infinite;
    cursor: pointer;
    margin: 50px auto 0 auto;
}

@keyframes startGame {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* Menu settings */
.menu__settings {
    display: none;
}

.menu__settings.active {
    display: initial;
    animation: menuSection 450ms;
}

@keyframes menuSection {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu__settings-container {
    width: 800px;
    margin: 0 auto;
}

.menu__settings .menu__heading {
    font-size: 5rem;
}

.menu__modal {
    background: var(--clr-white);
    color: var(--clr-black);
    height: 500px;
    border-radius: 5px;
}

.menu__header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu__form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.menu__title {
    text-transform: uppercase;
}

.menu__player-name {
    padding: 10px 0;
    border: 1px solid var(--clr-gray);
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    transition: border 250ms ease-in;
}

.menu__player-name:focus {
    border: 1px solid var(--clr-blue);
}

.menu__check {
    position: relative;
    cursor: pointer;
}

.menu__check::before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    content: '✓';
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: var(--clr-blue);
    border-radius: 50%;
    font-weight: 700;
    color: var(--clr-white);
    transform: scale(0);
    z-index: 5;
    transition: transform 150ms ease-in;
}

.menu__player-img {
    width: 75px;
    height: 75px;
}

.menu__avatar {
    display: flex;
    justify-content: space-evenly;
    max-width: 300px;
    width: 100%;
}

.menu__avatar input[type=radio] {
    display: none;
}

:checked+label .menu__player-img {
    transform: scale(0.9);
}

:checked+label .menu__check::before {
    transform: scale(1);
}

.menu__limit {
    display: flex;
    justify-content: space-evenly;
    max-width: 300px;
    width: 100%;
    font-size: 3rem;
}

.menu__points {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    font-family: 'Architects Daughter', cursive;
    transition: color 150ms ease-in,
                font-size 150ms ease-in;
    cursor: pointer;
}

:checked+label .menu__points {
    font-weight: 700;
    color: var(--clr-blue);
    font-size: 3.5rem;
}

.menu__limit input[type=radio] {
    display: none;
}

.menu__cta {
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    background: var(--clr-green);
    font-size: 2rem;
    color: var(--clr-white);
    text-transform: uppercase;
    opacity: 0.3;
    transition: background 150ms ease-in,
                opacity 150ms ease-in;
}

.menu__cta:hover {
    background: var(--clr-blue);
    opacity: 1;
}