/* Result section */
.result {
    display: none;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%),url('../assets/img/game-bg.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.result.active {
    display: flex;
    animation: resultSection 350ms;
}

@keyframes resultSection {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.result__wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.result__img {
    width: 150px;
    height: 150px;
}

.result__text {
    font-size: 3.125rem;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 50px;
    margin: 40px 0;
}

.result__link {
    color: var(--clr-white);
    font-size: 1.25rem;
    text-decoration: none;
    padding: 15px 20px;
    background: var(--clr-black);
    border-radius: 20px;
    transition: background 250ms ease-in;
}

.result__link:hover {
    background: var(--clr-blue);
}